<h1>Listings#show</h1>
<p>Find me in app/views/listings/show.html.erb</p>

<div>
  <h2>
  Title:<%= @listing.title %><br>
  Location: <%= @listing.location %><br>
  Description: <%= @listing.description %><br>
  Available From: <%= @listing.available_from %><br>
  Available To: <%= @listing.available_to %><br>
</h2>
</div>
