<h1>Title: <%= @listing.title %></h1>
<div>
  Posted By: <%= @listing.user.email %> (<%= @listing.user.id %>)

</div>
___________________________________________________________________________
  <p>Location: <%= @listing.location %></p>
  <p>Description: <%= @listing.description %></p>
  <p>Available From: <%= @listing.available_from %></p>
  <p>Available To: <%= @listing.available_to %></p>
  <!-- <%= link_to "Edit", edit_listing_path(@listing) %> -->
  <%= render "reservations/form" %>

<!-- Carousel displaying pictures of listing -->
<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
      <% @listing.photos.each do |photo| %>
        <% if photo == @listing.photos.first %>
        <div class="item active" >
          <%= image_tag photo %>
        </div>
        <% else %>
        <div class="item">
          <%= image_tag photo %>
        </div>
        <% end %>
      <% end %>
  </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</body>
</html>
