<!-- form to create (new) and update (edit) reservations  -->

<%= form_for [@listing, @reservation] do |f| %>
<%= f.hidden_field :listing_id, value: @listing.id %>
  <div>
    <%= f.label :num_guests %>
    <%= f.number_field :num_guests  %>
  </div>
  <div>
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
  </div>
  <div>
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
  </div>
  <%= f.submit "Submit Booking" %>
<%end%>
